<mat-toolbar color="primary" class="navbar">
    <div class="navbar-container">
      <!-- Logo and Name Section -->
      <div class="logo">
        <img src="favicon.ico" alt="Logo" class="logo-img" />
        <div class="name" fxHide fxShow.gt-xs>
          <h1>The State University Of Zanzibar -SUZA</h1>
          <p>Welcome</p>
        </div>
      </div>
  
      <!-- Payment Portal Section -->
      <div class="payment-portal">
        <p>PAYMENT PORTAL</p>
      </div>
    </div>
  </mat-toolbar>
  