/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    font-family: 'Nunito', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  body {
    color: #4f5d75; /* Greyish color for global text */
  }
  
  mat-card-title,
  mat-card-subtitle,
  input[matInput],
  button {
    color: #4f5d75; /* Consistent greyish tone for titles, subtitles, and input text */
  }
  
  mat-card-subtitle {
    color: #6c757d; /* Lighter grey for subtitles */
  }
  