<header class="header">
    <div class="header-content">
      <div class="logo">
        <!-- <h1>Hamza Ausiy</h1> -->
         <h1>
        <span class="brand">Hamza</span>
    <span class="brand accent">Ausiy</span></h1>
      </div>
      <button mat-icon-button class="menu-button" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <nav class="nav-links" [ngClass]="{'show': isMenuOpen}">
        <a routerLink="/main" class="active">HOME</a>
        <a routerLink="/gallery">DRAWINGS</a>
        <a routerLink="/about">ABOUT</a>
        <!-- <a routerLink="/contact">CONTACT</a> -->
        <button mat-icon-button class="close-button" (click)="toggleMenu()">
          <mat-icon>close</mat-icon>
        </button>
      </nav>
      <div class="social-icons">
        <a href="https://web.facebook.com/hamza.ausiy/?locale=en_GB&_rdc=1&_rdr"><mat-icon>facebook</mat-icon></a>
        <a href="https://www.instagram.com/hamzaausiy/"><mat-icon>camera_alt</mat-icon>
        </a>
       <!-- Gmail compose link with mat-icon -->
<a href="https://mail.google.com/mail/?view=cm&fs=1&to=godsonfelix007@gmail.com&su=Hello&body=Write your message here" target="_blank">
  <mat-icon style="cursor: pointer;">email</mat-icon>
</a>
        
        <a href="https://tz.linkedin.com/in/hamza-ausiy-21157b3a" ><mat-icon>linkedin</mat-icon></a>
        <a href="https://youtu.be/TND5SHUG3x4"><mat-icon>video_library</mat-icon></a>
      </div>
    </div>
  </header>