mat-card {
    border: 1px solid #0d3c61;
    border-radius: 8px;
  }
  
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    margin-bottom: 1rem;
    

  }
  /* Apply the desired font family */
mat-card, mat-card-title, mat-card-subtitle, mat-form-field, mat-label, input, button {
    font-family: "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }