.bill-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Flex container to arrange icon and text */
  .bill-details {
    display: flex;
    align-items: flex-start; /* Align text to the top */
  }
  
  .bill-icon {
    font-size: 36px; /* Set a suitable size for the icon */
    color: #4caf50; /* Material green color for money-related icon */
    margin-right: 10px; /* Space between the icon and the text */
    height: 70px;
    width: 40px;
}
  
  .bill-text {
    text-align: left;
  
    .bill-title {
      /* font-size: 1.25rem; Font size for title (small) */
      margin: 0;
      font-weight: 500; /* Slightly thicker font for title */
      /* color: #333; */
    }
  
    .bill-description {
      /* font-size: 0.875rem; Smaller font size for description */
      margin: 5px 0 0 0;
      font-weight: 400;
      /* color: #666; Light grey color for the description */
    }
  }
  
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .payment-section {
    flex: 1;
  }
  
  .how-to-pay-section {
    flex: 1;
    padding-left: 20px;
  }
  
  .options {
    margin-top: 20px;
  }
  
  .option {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  @media screen and (max-width: 768px) {
    .content-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .how-to-pay-section {
      padding-left: 0;
    }
    
  }