<div class="content-container">
  <div class="payment-section">
    <div class="bill-section">
        <div class="bill-details">
          <mat-icon class="bill-icon">attach_money</mat-icon>
          <div class="bill-text">
            <h1 class="bill-title">Payment Portal</h1>
            <p class="bill-description">Generate Bill, Verify Payments and More</p>
          </div>
        </div>
      </div>
    <div class="options">
      <app-bill-form></app-bill-form>
      <div class="options">
        <app-verify></app-verify>
      </div>
    </div>
  </div>

  <div class="how-to-pay-section">
    <h2>How to pay</h2>
    <p><strong>1. Via Bank:</strong></p>
    <p>Visit any branch or bank agent of CRDB, NBC, TPB, NMB, BOT.<br>Provide your bill's control number as reference.</p>

    <p><strong>2. Via Mobile Network Operators (MNO):</strong></p>
    <p>Enter to the respective USSD menu of MNO.<br>Select 4 (Make Payments).<br>Select 5 (Government Payments).<br>Enter your bill’s control number as reference number.</p>
  </div>
</div>
